<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=scale);">
  <div class="container" style="margin-bottom: 25px; padding-bottom: 35px;">
    <h1 class="text-center" style="color:white; padding-top: 26px;">All of the world's games, at your fingertips</h1>
    <p></p>
    <%= link_to "Add your game", new_game_path, class: "btn btn-success btn-lg m-4", style:"color: white;" %>
  </div>
</div>

<div style="margin: 4em;">
  <div class="cards">
    <% @games.each do |game| %>
      <div class="card-category" style="background-image: url('')">
        <h2><%= link_to game.name, game_path(game) %></h2>
      </div>
    <% end %>
  </div>
</div>
