<div style="margin: 4em;">
  <h1>My Reservation list</h1>
  <div class="cards">
    <% @reservations.each do |reservation| %>
      <div class="card-category" style="background-image: url('')">
          <p><%= link_to reservation.game.name, reservation_path(reservation) %></p>
      </div>
    <% end %>
  </div>
</div>
