.index-container {
  margin-bottom: 1rem;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  // display: flex;
  // justify-content: left;
  // align-items: center;
  // color: white;
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card {
  width: 450px;
  height: 250px;
  background-color: black;
  background: linear-gradient(#f8f8f8, #fff);
  // box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 16px;
  overflow: hidden;
  // position: relative;
  // margin: 1.5rem;
  margin-left: .5rem;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-color: rgb(223, 223, 223);
}

.card .additional .more-info h1 {
  text-align: center;
  font-size: 300;
  font-family: 'Roboto Slab';
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#e1e1e1  ,#f2f2f2f3);
  transition: width 0.6s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  // border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  // height: 80%;
  // position: absolute;
  float: left;
}

// .card .additional .user-card::after {
//   display: block;
//   position: absolute;
//   // top: 10%;
//   right: -2px;
//   border-left: 2px solid rgba(0,0,0,0.025);
// }

.card .additional .user-card .user-name {
  // top: 15%;
  color:#1EDD88;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: lighter;
  background: rgba(0,0,0,0.15);
  // padding: 0.125rem 1.4rem;
  border-radius: 100px;
  white-space: normal;
  text-align: center;
  margin-top: 1.5rem;
}

// .card .additional .user-card .user-name {
//   // top: 85%;
// }

.card .additional .more-info {
  width: 300px;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  // padding-bottom: 6rem;
  margin-top: 1rem;
  margin-right: .4rem;
}

// .card .additional .coords {
  // margin: 11rem;
  // color: #fff;
  // font-size: 1rem;
  // height: 4rem;
// }

// .card .additional .coords span + span {
//   float: right;
// }

.card .additional .stats {
  font-size: 1.8rem;
  display: block;
  position: relative;
  // bottom: 1rem;
  // left: 1rem;
  // right: 1rem;
  color: white;
  padding-top: 1rem;
  // line-height: 2.5rem;
  
}

.card .additional .stats .text-box {
  flex: 1;
  text-align: center;
  margin-right: .8rem;
  margin-left: .8rem;
}

.card .additional .stats i {
  display: block;
  color: black;
  line-height: 2.5rem;
  font-size: 0.9em;
}

// .card .additional .stats div.title {
//   font-size: .7rem;
//   font-weight: lighter;
//   text-transform: uppercase;
//   color: white;
// }

.card .additional .stats div.value {
  font-size: .8rem;
  font-weight: 300;
  font-family: 'Roboto Slab';
  line-height: 1rem;
  white-space: break-spaces;
  background: rgba(0, 0, 0, 0.276);
  padding: 0.125rem 1.4rem;
  // border-radius: 100%;
  width: 100%;
  white-space: normal;
  text-align: center;
  border-radius: 6px;
}

// .card .additional .stats div.value.infinity {
//   // font-size: 2.5rem;
// }

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  // box-sizing: border-box;
  // padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.6em;
  background: rgba(0,0,0,0.5);
  color: white;
}

