.game-info {
  border: 5px solid yellow; 
  background-color: yellowgreen;
  width: 34rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  width: 100%;
  justify-content: space-evenly;
}

.game-photo {
  background-size: cover;
}

.game-user-name {
  margin-left: 0.5rem;
}