.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-item:hover {
color:white;
text-decoration: none;
background-color:#6C757D;
border-radius: 8px;
}
