.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-item:hover {
color:white;
text-decoration: none;
background-color:#6C757D;
border-radius: 8px;
}
.your-game-btn {
  color:white;
  border-radius: 8px;
  background-color: rgb(9, 184, 9);
  text-decoration: none;
  padding: 5px 7px 5px 7px;
  margin-left: 11px;
}

.your-game-btn:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(7, 162, 7);
}